{{define "About"}}
<!-- <div id="wrapper-title">
    <div class="dabi-container dabi-text-center">
    </div>
</div> -->
<h2 class="dabi-text-center">ÜBER MICH</h2>
<p class="dabi-text-muted">
    Hi ich bin David!
    Zur Zeit studiere ich Medieninformatik an der Hochschule Harz und wohne zur Zeit in Wernigerode und Stuhr.
    Hier entwickel ich gerne Websiten, Anwendungen für Web und Mobile. Doch ich es nicht mag mich nur auf einen Bereich zu konzentrieren, beschäftige ich mich auch gerne mit dem entwickeln von Brand Guidelines und der Fotografie (in der Freizeit | Natur | Landschaft | Tiere) sowie das entwerfen von Plakaten. 
</p>

{{end}}