{{define "Clients"}}
<section class="dabi-margin-auto" style="margin-top: 128px;">
    <h2 class="dabi-text-center dabi-margin-top">Clients</h2>
    <div class="dabi-flex dabi-text-center dabi-flex-middle">
        <div class="dabi-flex-1">
            <div class="dabi-tea dabi-tea-left">
                <div class="dabi-card dabi-card-default dabi-margin-left dabi-margin-right dabi-margin-top"
                    style="border-radius: 20px!important;">
                    <img src="https://paperpillar.com/assets/images/hoopsai.png" alt="" style="padding: 15px;">
                </div>
            </div>
        </div>
        <div class="dabi-flex-1">
            <div class="dabi-tea dabi-tea-left">
                <div class="dabi-card dabi-card-default dabi-margin-left dabi-margin-right dabi-margin-top"
                    style="border-radius: 20px!important;">
                    <img src="https://paperpillar.com/assets/images/agoda.png" alt="" style="padding: 15px;">
                </div>
                <div class="dabi-card dabi-card-default dabi-margin-left dabi-margin-right dabi-margin-top"
                    style="border-radius: 20px!important;">
                    <img src="https://paperpillar.com/assets/images/getsafe.png" alt="" style="padding: 15px;">
                </div>
            </div>
        </div>
        <div class="dabi-flex-1">
            <div class="dabi-card dabi-card-default dabi-margin-left dabi-margin-right dabi-margin-top"
                style="border-radius: 20px!important;">
                <img src="https://paperpillar.com/assets/images/grab.png" alt="" style="padding: 15px;">
            </div>
            <div class="dabi-card dabi-card-default dabi-margin-left dabi-margin-right dabi-margin-top"
                style="border-radius: 20px!important;">
                <img src="https://paperpillar.com/assets/images/crisp.png" alt="" style="padding: 15px;">
            </div>
            <div class="dabi-card dabi-card-default dabi-margin-left dabi-margin-right dabi-margin-top"
                style="border-radius: 20px!important;">
                <img src="https://paperpillar.com/assets/images/anyleads.png" alt="" style="padding: 15px;">
            </div>
        </div>
        <div class="dabi-flex-1">
            <div class="dabi-tea dabi-tea-right">
                <div class="dabi-card dabi-card-default dabi-margin-left dabi-margin-right dabi-margin-top"
                    style="border-radius: 20px!important;">
                    <img src="https://paperpillar.com/assets/images/teachable.png" alt="" style="padding: 15px;">
                </div>
                <div class="dabi-card dabi-card-default dabi-margin-left dabi-margin-right dabi-margin-top"
                    style="border-radius: 20px!important;">
                    <img src="https://paperpillar.com/assets/images/flyr.png" alt="" style="padding: 15px;">
                </div>
            </div>
        </div>
        <div class="dabi-flex-1">
            <div class="dabi-tea dabi-tea-right">
                <div class="dabi-card dabi-card-default dabi-margin-left dabi-margin-right dabi-margin-top"
                    style="border-radius: 20px!important;">
                    <img src="https://paperpillar.com/assets/images/roger.png" alt="" style="padding: 15px;">
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}