{{define "Contact"}}
    <h2 class="dabi-text-center dabi-margin-top">Kontakt</h2>
    <div class="dabi-input dabi-input-outlined" for="name">
        <input type="text" id="name" placeholder="abc">
        <span class="dabi-input-label">Name</span>
    </div>
    <div class="dabi-input dabi-input-outlined" for="email">
        <input type="email" id="email" placeholder="abc">
        <span class="dabi-input-label">Email</span>
    </div>
    <div class="dabi-input dabi-input-outlined" for="subject">
        <input type="text" id="subject" placeholder="abc">
        <span class="dabi-input-label">Betreff</span>
    </div>
    <div class="dabi-input dabi-input-outlined" for="msg">
        <textarea name="msg" placeholder="Nachricht ..." id="msg" cols="30" rows="10"></textarea>
    </div>
{{end}}