{{define "Index"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Bieler</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom.css">
</head>

<body>
    <!-- wrapper -->
    <div class="page-wrapper">
        <!-- nav -->
        {{template "Nav".}}

        <!-- header -->
        {{template "TestCover".}}

        <!-- about -->
        <div id="about">
            <div class="dabi-container dabi-card dabi-card-default dabi-padding">
                {{template "About".}}
                <div id="services">{{template "Services".}}</div>
            </div>
        </div>

        <!-- projects -->
        <div class="dabi-container" id="projects">
            <div class="dabi-margin-large-top">
                <h1 class="dabi-text-center dabi-text-default">Projekte</h1>
            </div>
            <div class="dabi-grid dabi-child-width-1-2-s dabi-child-width-1-3-m">
                {{ range .Projects }}
                <a class="card-holder" href="/show?slug={{.Slug}}">
                    <div class="dabi-card dabi-card-default dabi-card-no-shadow portfolio-card">
                        <div class="thumbnail" style="background-image: url('images/{{.Cover}}')"></div>
                        <div class="dabi-card-body">
                            <p class="dabi-text-white">{{.Type}}</p>
                            <h4 class="dabi-text-white">{{.Title}}</h4>
                            <div
                                class="dabi-button dabi-button-primary dabi-block dabi-button-no-shadow dabi-button-outline dabi-margin-top">
                                Mehr erfahren</div>
                        </div>
                    </div>
                </a>
                {{ end }}
            </div>
        </div>

        <!-- contact -->
        <div class="dabi-container dabi-card dabi-card-default dabi-padding" id="contact">
            {{template "Contact".}}
        </div>

        <!-- footer -->
        {{template "Footer".}}
    </div>
</body>
<script src="js/tea.js"></script>

</html>
{{end}}