.dabi-list {
    list-style: none;
    background-color: var(--global-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 10px;
    border-radius: var(--global-border-radius);
    overflow: hidden;
}

.dabi-list .dabi-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 5px;
    color: var(--global-emphasis-color);
    width: 100%;
}

.dabi-list.dabi-list-hover .dabi-list-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dabi-list.dabi-list-hover.dabi-list-hover-muted .dabi-list-item:hover {
    background-color: var(--global-muted-hover) !important;
}

.dabi-list.dabi-list-hover.dabi-list-hover-primary .dabi-list-item:hover {
    background-color: var(--global-primary-hover) !important;
}

.dabi-list.dabi-list-hover.dabi-list-hover-secondary .dabi-list-item:hover {
    background-color: var(--global-secondary-hover) !important;
}